In [1]:
import pandas as pd 
import numpy as np
import math

In [2]:
df=pd.read_csv("~/Downloads/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Understanding the data

In [3]:
df.info

<bound method DataFrame.info of         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[1460 rows x 81 columns]>

In [4]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
df.isna().sum()
# checking the number of missed values

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [6]:
df.drop(["Id"], axis=1, inplace=True)
# droping the Id column as it has no influence on the model

In [7]:
mean=df.mean()
df.fillna(mean,inplace=True) 
# replacing nan values with mean values in the numerical columns

# checking for outliers and replacing them with mean value of the features

In [8]:
numerical_columns = [column for column in df.columns if df[column].dtype==int and len(df[column].unique()<11)]
numerical_columns=numerical_columns[:-1].copy()

In [9]:
def outlier_detection(column, df):
    outlier=[]
    for x in  df[column]:
        z=np.divide(x-np.mean(df[column]),np.std(df[column]))
        if z > 3:
            outlier.append(x)
            df[column].replace(x,math.ceil(np.mean(df[column])),inplace=True)
#     print(column, outlier)     
    

for column in numerical_columns:
    outlier_detection(column, df)

In [10]:
# df["KitchenAbvGr"].unique()

In [11]:
df.isna().sum() 
# confirming all the nunmerical nan values are gone

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 80, dtype: int64

# converting categorical features to dummy variables

In [12]:
categorical_columns = [column for column in df.columns if df[column].dtype=="object"]
# categorical_columns

In [13]:
df1=pd.get_dummies(data=df,columns=categorical_columns,dummy_na=True)
df_new=pd.concat([df1,df["SalePrice"]], axis=1)

In [47]:
df1

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,1,0,0,0,0,0,1,0,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,1,0,0,0,0,0,1,0,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,1,0,0,0,0,0,1,0,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,1,0,1,0,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,1,0,0,0,0,0,1,0,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,1,0,0,0,0,0,1,0,0
1457,70,66.0,9042,7,6,1941,2006,0.0,275,0,...,0,1,0,0,0,0,0,1,0,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,15,...,0,1,0,0,0,0,0,1,0,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,14,...,0,1,0,0,0,0,0,1,0,0

# preparing the data for modeling

In [15]:
# spliting the data into dependent and indepent variable
X=df_new.iloc[:,:-1]
y=df_new.iloc[:,-1]

In [16]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)
# scaling the data

In [17]:
from sklearn.decomposition import PCA

In [18]:
pca=PCA(300)
X_pca=pca.fit_transform(X)

In [19]:
# pca.explained_variance_ratio_
X_pca.shape

(1460, 300)

# modeling

In [20]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
import warnings

In [21]:
warnings.filterwarnings("ignore")

In [22]:
svm_classifier=SVR(kernel="rbf", )
random_regressor=RandomForestRegressor(n_estimators=200)
logistic_regression=LogisticRegression()

In [23]:
num_kfold=5
kf=KFold(n_splits=num_kfold,shuffle=True,random_state=32)

In [24]:
cross_val_result=cross_val_score(random_regressor, X_pca,y ,cv=kf,scoring='r2')

print("Accuracy:",cross_val_result)
print("Mean Accuracy:",np.mean(cross_val_result))

Accuracy: [0.87104645 0.8979038  0.87433369 0.86156236 0.83803251]
Mean Accuracy: 0.8685757614776852

# preparing the test data

In [25]:
import pandas as pd

In [26]:
df_test=pd.read_csv("~/Desktop/test.csv")

In [27]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [28]:
TEST= df_test["Id"].copy()

In [29]:
df_test.drop(["Id"], axis=1, inplace=True)

In [30]:
df_test.isna().sum()

MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
Street             0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 79, dtype: int64

In [31]:
df_test.fillna(df_test.mean(),inplace=True)
# removing all the nan values and replacing it wih the mean value

In [32]:
Test_numerical_columns = [column for column in df_test.columns if df_test[column].dtype==int]

In [33]:
for column in Test_numerical_columns:
    outlier_detection(column, df)
# removing all the outliers and replacing it with the mean value

In [34]:
Test_categorical_columns = [column for column in df.columns if df[column].dtype=="object"]

In [35]:
df_testnew=pd.get_dummies(data=df_test,columns= Test_categorical_columns,dummy_na=True)
# converting all categorical variables to dummy variables

In [36]:
df_testnew

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_Oth,SaleType_WD,SaleType_nan,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SaleCondition_nan
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,1,0,0,0,0,0,1,0,0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,1,0,0,0,0,0,1,0,0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,1,0,0,0,0,0,1,0,0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,1,0,0,0,0,0,1,0,0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,21.0,1936,4,7,1970,1970,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
1455,160,21.0,1894,4,5,1970,1970,0.0,252.0,0.0,...,0,1,0,1,0,0,0,0,0,0
1456,20,160.0,20000,5,7,1960,1996,0.0,1224.0,0.0,...,0,1,0,1,0,0,0,0,0,0
1457,85,62.0,10441,5,5,1992,1992,0.0,337.0,0.0,...,0,1,0,0,0,0,0,1,0,0
1458,60,74.0,9627,7,5,1993,1994,94.0,758.0,0.0,...,0,1,0,0,0,0,0,1,0,0

In [37]:
df_testnew =scaler.fit_transform(df_testnew)
# scaling the data

In [38]:
df_testnew.shape

(1459, 313)

In [39]:
pca=PCA(300)
X_test=pca.fit_transform(df_testnew)
# feature transformation using PCA

In [40]:
random_forest=random_regressor.fit( X_pca,y)
# training the model using the train data, X and y that was prepared

In [41]:
y_pred=random_forest.predict(X_test)

In [42]:
y_pred

array([205819.555, 214238.37 , 125185.   , ..., 176135.   , 213733.885,
       126394.96 ])

In [43]:
df_result=pd.DataFrame({"Id":np.array(TEST),"y_pred":y_pred})

In [44]:
df_result

        Id      y_pred
0     1461  205819.555
1     1462  214238.370
2     1463  125185.000
3     1464  127786.315
4     1465  127225.325
...    ...         ...
1454  2915  271596.620
1455  2916  218360.650
1456  2917  176135.000
1457  2918  213733.885
1458  2919  126394.960

[1459 rows x 2 columns]

In [45]:
import sys

sys. version

'3.7.6 (default, Jan  8 2020, 19:59:22) \n[GCC 7.3.0]'